@charset "ISO-8859-1";
.container {
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}


.horizontal-menu {
  display: flex; 
  background-color: #f2f2f2;
  justify-content:flex-end;
  padding:10px 20px;
}


.horizontal-menu a {
 display:block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


.horizontal-menu a.active {
  background-color: #4CAF50;
  color: white;
}


.horizontal-menu a:hover {
  background-color: #fad390;
    color: #fff;
}

