@charset "ISO-8859-1";
.container{
  width: 300px;
  height: 200px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Style the horizontal menu */
.horizontal-menu {
  display: flex; 
  background-color: #f2f2f2;
  justify-content:flex-end;
  padding:10px 20px;
}

/* Style the links inside the horizontal menu */
.horizontal-menu a {
  color: black;
  padding: 12px;
  text-decoration: none;
}

/* Change background color of active link */
.horizontal-menu a.active {
  background-color: #4CAF50;
  color: white;
}

/* Add hover effect */
.horizontal-menu a:hover {
  background-color: #ccc;
}

